---
const { htmlType, label, id } = Astro.props
---

<div class:list={['grid gap-4']}>
	<label for={id} class:list={['font-bold text-lg text-neutral-700']}>{label}</label>
	<input type={htmlType} name={id} id={id} class:list={['rounded-md px-5 py-2.5 shadow-xs/100']} />
</div>
